<p>
  <strong>name:</strong>
  <%= @lecture.name %>
</p>
  
<p>
<strong>content</strong>
<%= @lecture.content %>
</p>

<%= link_to 'Delete task', @lecture, method: :delete, data: {confirm: 'Are you sure'} %>
<%= link_to 'Back to lectures', lectures_path %>

<%= link_to 'Edit lecture', edit_lecture_path(@lecture) %>

<%= link_to 'Add new task', new_lecture_task_path(@lecture) %>